<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Simone Maurizio La Cava</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
              <li><a href="https://github.com/smlacava">Projects</a></li>
              <li><a href="https://scholar.google.com/citations?user=ilco-ckAAAAJ&oi=ao">Researches</a></li>
              <li><a href="mailto:simonemaurizio.lacava@gmail.com">Contact me</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:simonemaurizio.lacava@gmail.com">email</a></li>
	        		<li><a href="https://github.com/smlacava">github.com/smlacava</a></li>
				</ul>
			</footer>
		</body>
	</html>
